@import url("https://use.typekit.net/ggp2enf.css");

* {
  box-sizing: border-box;
}

body {
  background: #aaa;
  font-family: hobo-std, sans-serif;
}

.container {
  display: grid;
  grid-template-rows: auto 3fr 2fr 100px;
  height: 100vh;
  margin: auto;
  max-width: 1200px;
}

.footer {
  background: #a00;
}

.header {
  align-items: center;
  justify-items: center;
  background: #211;
  color: #eec;
  display: grid;
  gap: 16px;
  grid-template-rows: 1fr 1fr;
  padding: 8px;
}

.hero {
  align-items: end;
  background: url("../images/trailer.jpg");
  background-attachment: local;
  background-position: top right;
  background-position-y: -160px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 24px;
}

.hero a button {
  background: #a00;
  border: 2px solid #eee;
  border-radius: 48px;
  color: #eed;
  cursor: pointer;
  font-size: 3rem;
  padding: 16px 32px 16px 32px;
}

.hero a button:hover {
  background: #ccc;
  color: #a00;
}

.info {
  background: #ccc;
}

.logo {
  font-family: hobo-std, sans-serif;
  font-size: 2.3rem;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  gap: 24px;
  justify-content: center;
}

.nav > li:hover {
  color: #d33;
  cursor: pointer;
  font-weight: bold;
  scale: 1.1;
}
