@import url('https://use.typekit.net/ggp2enf.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background: #988;
}

.container {
  display: grid;
  box-shadow: 0 0 5px #222;
  grid-template-rows: 100px 400px auto 80px;
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
}

.footer {
  background: #a00;
  box-shadow: 0 -2px 4px #111;
  color: #eec;
  display: flex;
  font-family: Ubuntu, sans-serif;
  justify-content: center;
  padding: 8px;
}

.footer-grid {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template: 1fr 1fr / 2fr 1fr;
  justify-items: center;
  width: 90%;
  max-width: 500px
}

.footer .address-list {
  font-size: 1.1rem;
  font-weight: bold;
  justify-self: start;
}

.footer .social-list {
  display: flex;
  gap: 16px;
  justify-self: end;
}

.footer a {
  color: #eec;
  font-weight: bold;
  text-decoration: none;
}

.footer a:hover {
  color: #ccc;
}

.footer img {
  height: 30px;
}

.footer img:hover {
  scale: 1.1;
  filter: invert(20%);
}

.footer-attrib {
  grid-area: 2 / 1 / 3 / 4;
}

.header {
  align-items: center;
  justify-items: center;
  background: #211;
  color: #eec;
  display: grid;
  font-family: hobo-std, sans-serif;
  gap: 16px;
  grid-template-rows: 1fr 1fr;
  padding: 8px;
}

.hero {
  align-items: center;
  background: url('../images/trailer.jpg');
  background-attachment: local;
  background-position: top right;
  background-position-y: -200px;
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px #111;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 24px;
  position: relative;
}

.hero a button {
  background: #a00;
  border: 2px solid #eee;
  border-radius: 48px;
  color: #eed;
  cursor: pointer;
  font-size: 3rem;
  padding: 16px 32px 16px 32px;
}

.hero a button:hover {
  background: #ccc;
  color: #a00;
}

.info {
  align-items: center;
  background: #eed;
  display: flex;
  font-family: Ubuntu, sans-serif;
  font-size: 1.3rem;
  justify-content: center;
  padding: 16px;
}

.info p {
  color: #a00;
  font-weight: bold;
  line-height: 1.1;
  max-width: 500px;
  min-width: 320px;
  padding: 16px;
}

.info strong {
  color: #111;
  font-weight: bold;
}

.logo {
  font-family: hobo-std, sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  gap: 24px;
  justify-content: center;
}

.nav > li:hover {
  color: #c22;
  cursor: pointer;
  font-weight: bold;
  scale: 1.1;
}
